@charset "utf-8";

// https://github.com/metafizzy/flickity/issues/754
@import "~flickity/css/flickity.css";

// Import Lato Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');




// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;



// More theme colors could be added here...
$primary: #454545;

$spaces: ("0": 0, "1": 1.65rem, "2": 1.75rem);

$margin-default: map-get($spaces, "2") map-get($spaces, "0");

// Update some of Bulma's component & color variables
$footer-padding: 3rem 1.5rem;
$link: #729460; //#cddcc5; // hsl(171, 100%, 41%);

// Custom Styles
.card-gap {margin-top:1.75rem}
.modal-trigger { cursor: pointer; }
a.icon > strong {margin-left:.25rem}
.modal-card-body div.content {margin:$margin-default}



// import everything - alternatively import just what you need: https://bulma.io/documentation/overview/modular/
@import "~bulma/bulma"; 

// override specific bulma styles
.section {padding: 2.15rem 1.5rem}

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

// Flickity - begin
.carousel-cell {width:100%}
// Flickity - end

 // Raf addition
p:not(:last-of-type) {
    margin-bottom: 1rem !important;
}

 .card:hover{
    /*transform: scale(1.05);
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition: all .2s ease-in-out;
    background: #f5f5f5;*/
}
.hero-body{
    text-shadow: 2px 2px 4px #000000;
}
article:hover{
    transform: scale(1.05);
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition: all .2s ease-in-out;
    background: white;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
#bkg-img{
    background-image: url('/assets/img/Background3_c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#profile-img{
    border: 3px solid white;
    box-shadow: 2px 2px 4px #000000;
}

/*@media screen and (min-width: 960px){
    .modal-content, .modal-card {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 1000px;
    }
}*/

.soft-log{
    padding-right: 3px;
    height: 24px;
}

.title.is-4{
    margin-bottom: .5rem !important;
}

.taga {
    margin-right: .5rem;
}

.fa-ul > li{
    margin-top: .25em;
}

.fa-li > .fas {
    color: #729460;
}

  